<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img 
            src="assets/ps-logo.png"
            alt="Logo do  PlayStation Store"
            width="140px"
        >
    </div>

    <div class="menu-bar__item">
        <ul>
            <li><a href="https://wa.me/5575988026273" target="_blank">WHATSAPP</a></li>
            <li><a href="https://www.linkedin.com/in/ravenna-santos/" target="_blank">LINKEDIN</a></li>
            <li><a href="https://github.com/Ravenna-Santos" target="_blank">GITHUB</a></li>
        </ul>
    </div>
</div>